<div class="row">
  <div class="col s8 offset-s2">
    <div class="card">
      <div class="sm-jumbotron center-align">
        <h2>Contest Give-Away</h2>
      </div>
      <form class="col s12 white" #UserRegistrationForm="ngForm">
        <div class="row">
          <div class="input-field">
            <input type="text" name="FirstName" #FirstName="ngModel" [(ngModel)] = "user.FirstName">
            <label>First Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input type="text" name="LastName" #LastName="ngModel" [(ngModel)] = "user.LastName">
            <label>Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input type="text" name="Email" #Email="ngModel" [(ngModel)] = "user.Email">
            <label>Email Address</label>
          </div>
        </div>
        <div class="row">
            <div class="input-field">
              <button class="btn-large btn-submit" type="submit">Enter Now</button>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
